.bgarab{

	color: black ;
	font-size: 24px;
	border: solid #3498db; <!-- el 5at ele 7wlen el klam -->
	
	/*padding-left: 150px;<!--el klam byb3ed 2ad a 3n el frame -->
	padding-right:  150px;
	padding-bottom: 150px;
	padding-top: 150 px;
	*/
	 
    height: 600px ;
    width: 400px;
    margin-right: 350px;

     
    padding-left: 0 auto;

 
  
  background-color: #81ecec;
  
}


 
#website_header{
background-image: url('nona.jpg');
color: orange;
font-size: 50px;

}
#nwrap{
text-align: center;
background-image: url('nona.jpg');
   background-attachment: fixed; 
  background-repeat: no-repeat;
background-size: 100% 100%;


}
#nheader{

background-color:#16a085;
padding: 25px ;
}
ul{
padding-top: 40px;
	float: right;
}
li{
	padding-top: 10px;
	display: inline-block;
	padding-right: 20px;
}
#npara{
background-color: #34495e}
h1{

	color: white;
	padding-right: 1000px;
}

.text_para
{


}

.redcolor
{
color: red;

 }
