  <!DOCTYPE html>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <html>
    
 <head>

 
	
	<meta keywords="html,learn,teach" />

	<link rel="stylesheet" type="text/css" href="../static/equip.css"> 
	<!-- href da 3shan y2dar ye2ra el file ele ganbo -->

	<!--3enwan el website ele byzhar for 5als -->
	<title> equipment </title>

</head>
<body>
 <div  id="website_header"> <!-- 3shan a3rf 27ot el alwan bta3t el text--> 
 	<!-- bn7ot # f el css file -->
 	Noenatal website 
 </div>	

 

<div id="nwrap">
	<div id="nheader">

    <ul>
      <li> <a href ="http://127.0.0.1:5000/homepage" >|HOME </a>
      </li>
<li>|ABOUT
      </li>
      <li>|CONTACT US
      </li>

    </ul>
	<h1>
		Equipment form
	</h1>
	 </div>
	 <div class="bgarab">
  
 	 <form action="/equip" method="POST">
 

  <div class="form-group">
  	 
  	
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="device name" name="name">


  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">ID</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" device id " name="id">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput">location</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="location"  name="text">


  </div>
   
 
 

 
  <input type="submit" value="Send">

 </div>
 

<div id="npara">
	<p  class="text_para">
 word <span class="redcolor"> paragpgraph </span>
</p>
</div>
</div>


 </body>
 </html>